<div class="text-sm bg-white p-8 max-w-lg w-full">
    <form [formGroup]="params" class="space-y-5" ngNativeValidate>
        <div class="flex sm:flex-row flex-col">
            <label for="apellidos" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Apellidos</label>
            <input id="apellidos" type="text" class="form-input flex-1" formControlName="apellidos" required (blur)="actualizarDatos()" />
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="nombres" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Nombres</label>
            <input id="nombres" type="text" class="form-input flex-1" formControlName="nombres" required (blur)="actualizarDatos()" />
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="sexo" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Sexo</label>
            <div class="flex gap-4">
                <label class="inline-flex items-center">
                    <input type="radio" formControlName="sexo" class="form-radio" value="H" required (change)="actualizarDatos()" />
                    <span class="ml-1">Hombre</span>
                </label>
                <label class="inline-flex items-center">
                    <input type="radio" formControlName="sexo" class="form-radio" value="M" (change)="actualizarDatos()" />
                    <span class="ml-1">Mujer</span>
                </label>
            </div>
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="fechaNacimiento" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Fecha de Nacimiento</label>
            <input
                type="text"
                mwlFlatpickr
                [options]="basic"
                formControlName="fechaNacimiento"
                class="form-input flex-1"
                placeholder="dd/MM/yyyy"
                (change)="onFechaChange()"
            />
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="celular" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Celular</label>
            <input id="celular" type="text" class="form-input flex-1" formControlName="celular" (blur)="actualizarDatos()" />
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="correo" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Correo</label>
            <input id="correo" type="text" class="form-input flex-1" formControlName="correo" (blur)="actualizarDatos()" />
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="direccion" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Direccion</label>
            <input id="direccion" type="text" class="form-input flex-1" formControlName="direccion" (blur)="actualizarDatos()" />
        </div>

        <div class="flex sm:flex-row flex-col">
            <label for="estadoCivil" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Estado Civil</label>
            <ng-select formControlName="estadoCivil" [items]="estadosCiviles" bindLabel="label" bindValue="value" (change)="actualizarDatos()" class="flex-1">
                <ng-template ng-label-tmp let-item="item">
                    {{ item.label }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                    {{ item.label }}
                </ng-template>
            </ng-select>
        </div>

        <div class="flex sm:flex-row flex-col mb-5">
            <label for="numeroDocumento" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Numero de Documento</label>
            <input id="numeroDocumento" type="text" class="form-input flex-1" formControlName="numeroDocumento" (blur)="actualizarDatos()" />
        </div>

        <div class="flex sm:flex-row flex-col mb-5">
            <label for="ocupacion" class="mb-0 sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Ocupacion</label>
            <input id="ocupacion" type="text" class="form-input flex-1" formControlName="ocupacion" (blur)="actualizarDatos()" />
        </div>

    </form>
</div>
