<div>
    <form [formGroup]="params" class="text-sm" ngNativeValidate>
        <div class="mb-5">
            <label for="apellidos">Apellidos</label>
            <input id="apellidos" type="text" class="form-input" formControlName="apellidos" required />
        </div>

        <div class="mb-5">
            <label for="nombres">Nombres</label>
            <input id="nombres" type="text" class="form-input" formControlName="nombres" required />
        </div>

        <div class="mb-5">
            <label for="sexo">Sexo</label>
            <div class="flex gap-4">
                <label class="inline-flex items-center">
                    <input type="radio" formControlName="sexo" class="form-radio" value="H" required />
                    <span class="ml-1">Hombre</span>
                </label>
                <label class="inline-flex items-center">
                    <input type="radio" formControlName="sexo" class="form-radio" value="M" />
                    <span class="ml-1">Mujer</span>
                </label>
            </div>
        </div>

        <div class="mb-5">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input type="text" mwlFlatpickr [options]="basic" formControlName="fechaNacimiento" class="form-input" placeholder="dd/MM/yyyy" />
        </div>

        <div class="mb-5">
            <label for="celular">Celular</label>
            <input id="celular" type="text" class="form-input" formControlName="celular" />
        </div>

        <div class="mb-5">
            <label for="correo">Correo</label>
            <input id="correo" type="text" class="form-input" formControlName="correo" />
        </div>
    </form>
</div>
